<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h2>Name</h2>
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">Picture Here</h4>
                    </div>
                    <span class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </div>  
                    </span>
            </div>
            <div class="panel-body">
                <h4>Email:</h4>
                <h4>Phone:</h4>
            </div>
        </div>
    </div>
</div>