<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="list-group-item-heading">Contacts</h2>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a routerLink="new" class="btn btn-success">New Contact</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <app-contact-item 
                *ngFor="let contactEl of contacts; let i = index"
                [contact]="contactEl" 
                [index]="i"
                dnd-draggable [dragEnabled]="true" [dragData]="contactEl" [dropZones]="['contactGroup']"
                ></app-contact-item> 
            </div>
        </div>
    </div>
</div>

